.container {
    margin-top: 10vh;
}

.location-bar {
    padding: 10vh 0vh;
}

h1 {
    text-align: center;
    font-size: 48px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
    text-align: center;
    margin-top: 5vh;
}
